
	<div class="title">About Us</div>

	<div class = "container">
		<div class = "title_description"> The web application aims to provide VISA information for traveling from one country to another. It has been developed to assist travelers in finding the right information so that they can plan accordingly and apply for VISAs on time, if they need any. </br> </br>

		This whole idea behind developing this website is to make it a hub for VISA related information. Users can check their VISA requirements by selecting source and destination countries along with the purpose of visit. Also, they can add comments on their search information which might be useful to other users.

		</div>
	</div>
