
	<div class="title">FAQs</div>

	<div class = "container">
		<div class = "faq"> <b><u>Schengen VISA</u></b></br>
		
			<div>

				<p>These four sub-types apply to every country in the world, though the requirements (or lack thereof) can vary widely, especially depending on which country you’re coming from.</p>
			</div>
			</br>

			<div class = "question"> What is a Schengen Visa?</br></div>
				
			<div class="answer">A. A Schengen visa obtained by any of the Schengen Area member countries allows free 		movement to its holder within the whole Schengen Zone, up to its validity and timeframe.
			</div>
			</br>

	        <div class = "question">
				When issued a visa, for how long can I reside in the Schengen Zone?</div> 
	        <div class="answer">A. According to the type of visa issued by the certain embassy/consulate of any Schengen 	country there are different restrictions that apply to the particular visa in accordance to the nature of 	 travelling and other relevant circumstances. However, the most common type of visa issued to the     	  	 travelers can reach the maximum of 90 days in every six month period starting from the date of entry.
	        </div>
			</br>

			 <div class = "question">Where do I apply for the Schengen visa?</div> 
	        <div class="answer">
	        	In cases where the applicant will be traveling to one and only one Schengen country, the applicant has to apply at the appropriate embassy/consulate of the designated country.
	        </div>
			</br>

			 <div class = "question">What steps do I follow when pursuing a Schengen visa?</div> 
	        <div class="answer">
	        	Every person the wishes to apply for a visa in order to visit a Schengen member country is obliged to apply in person, gather all the mandatory documents and first and foremost accordingly to the rules and regulations, make an appointment in advance. The person that will be applying for a visa has to make sure he/she holds a valid passport apropos a passport that has been issued no longer than ten years ago and has a period of six months until its expiration date.
	        </div>
			</br>

			 <div class = "question">What documents are required when applying for a Schengen visa?</div> 
	        <div class="answer">
	        	When applying for a Schengen visa, there is a need to collect a list of documents that are required for any short-term Schengen visa application. The list of these documents can be found on this article: Documents Required when Applying for a Schengen Visa.
	        </div>
			</br>

		
		</div>
	</div>




 

 






 
