
	<div class="title">FAQs</div>

	<div class = "container">
		<div class = "faq"> <b><u>Types of VISAs</u></b></br>
			Usually, there are two categories of visas that apply to any country:
			<ul>

				<li>Non-immigrant visas where you do not become a citizen of that country</li>
	            <li>Immigrant visas where you do become a citizen of that country</li>

			</ul>

</br>

			<div>
				<table style="width:100%">
			  <tr>
			    <th>VISA Type</th>
			    <th>Description</th> 
			   </tr>
			  <tr>
			    <td>Type #1:</td>
			    <td>Tourist visa (pleasure travel visas)</td> 
			   </tr>
			    <tr>
			    <td>Type #2:</td>
			    <td>Immigration and naturalization visas (including by marriage)</td> 
			   </tr>
			  <tr>
			    <td>Type #3:</td>
			    <td>Student visas (for studying abroad)</td> 
			   </tr>
			  <tr>
			    <td>Type #4:</td>
			    <td>Business or work visas (for working, which includes both non-immigrant and immigrant types)</td> 
			   </tr>
			</table>

			</div>
			</br>
			<div>

				<p>These four sub-types apply to every country in the world, though the requirements (or lack thereof) can vary widely, especially depending on which country you’re coming from.</p>
			</div>
			</br>

			<div class = "title_description"> Type #1 – Tourist Visa Requirements: The Main Concern of Points Travelers
			</div>
			</br>
			<div class = "blog_post"> First, we’ll start with the tourist visa (also known as a visitor visa). This is 		probably the most important type for readers here on UpgradedPoints.com, because it’s the visa that 	  	allows us to use all those awesome points we’ve obtained!
				When talking about travel visas, it’s important to first understand where you are coming from, what your citizenship status is (which country you have your passport from), and where you plan on going.
				For the majority of our readers, the place you’re coming from and citizenship status will both be the U.S., but where you are going can obviously vary widely.
				However, some of you may be coming from one country and traveling to another while holding citizenship in a third!
				In this case, you must be careful to check travel requirements for your specific situation; otherwise, you could end up finding the wrong information and being unable to travel.
				Note: A tourist visa is a non-immigrant visa.
		
			</div>


			<div class = "title_description"> Type #2 – Immigration Visa Requirements: Obtaining Permanent Residence in the U.S.
			</div>
			</br>
			<div class = "blog_post"> An immigration visa is one that authorizes another person to permanently reside 		in a country. This is closely related to the naturalization and citizenship process, though immigration 	does not necessarily suggest citizenship.
				If you’ve heard someone mention the term “Green Card,” they were actually talking about the immigration type of visa. Green Cards do not, however, simply grant citizenship.
				What a Green Card will do is allow the holder to both live and work in the United States, as this card is the path to obtaining a citizenship.
				The citizenship process, also known as naturalization, is the final step in becoming a full citizen of the U.S. Green Card holders must wait five years before applying for citizenship.
				Full rights to all laws (including being subject to them) are granted upon naturalization, which allows the bearer to travel as a U.S. citizen would to all other various countries.
				There are multiple paths to getting an immigrant visa, and seven different ways in which to obtain it:

				<ol>

					<li>Through family</li>
		            <li>Through employment</li>
		            <li>Through investment</li>
		            <li>Through the diversity lottery</li>
		            <li>Through refugee or asylum status</li>
		            <li>Through “The Registry”</li>
		            <li>Through the director of the CIA</li>
	            

				</ol>
   	
			</div>


			<div class = "title_description"> Type #3 – Student Visa Requirements: Get Your Education Abroad
			</div>
			</br>
			<div class = "blog_post"> The “Study Abroad” visa! If only we all were able to do this. A student visa is 		obtained when you are visiting a country for the purpose of an educational experience.
				While many would agree that all travel, regardless of reason, ends up being an educational experience, the travel here refers to trips in which you will be attending classes or studying particular subjects.
				These visas apply to exchange students of just a few weeks, or those staying a year or more. Requirements vary per visa and per country…as per usual!
				Note: A student visa is also a non-immigrant visa
		
			</div>


			<div class = "title_description"> Type #4 – Work Visa Requirements: Do Your Business Abroad
			</div>
			</br>
			<div class = "blog_post"> 
				The fourth and final type of visa is the strictest and most difficult to obtain in any country: the work visa.
				This is for a very simple reason: governments want economic activity in their country to be driven by their own citizens.
				Overall, the U.S. is particularly stern on these requirements. Many different types of work visas exist, and they’re all given a not-very-aptly-named letter:

					<ol>
						<li>E</li>
			            <li>H</li>
			            <li>L</li>
			            <li>O</li>
			            <li>P</li>
			            <li>I</li>
			            <li>TN/TD</li>
			            <li>J</li>
	            	</ol>
    
				Each country wants to ensure that their own citizens have priority for the jobs available in that country. However, if you have your own business, it could possibly be easier to obtain one of these coveted visas.
				For U.S. citizens looking to work abroad, you’ll need to research each location’s requirements before you go.
				There will be more details on work visas in our upcoming piece. Until then, you can check out more work visa requirements on the U.S. State Department website.
				Here, you’ll find information for foreign nationals trying to get into America as well as Americans going abroad.
				Note: Work visas can be either immigrant or non-immigrant in nature.

		
			</div>








		</div>

	</div>

