
<!--
/*<h1>Welcome to VISA GRID</h1>
<%= 'BLOG ARTICLE' %>
Time= <%= @curr_time %> */

 -->
<div class="jumbotron">
 <div class="container">
 <h1>VISA GRID</h1>
 <p>Assisting you in your travel plans. We have the VISA info that you need</p>
 <p><a class="btn btn-primary btn-lg" href="#" role="button">Login to get more info</a></p>
 </div>
 </div>
<div class="container-fluid">
 <!-- Example row of columns -->
 <div class="row">
 <div class="col-md-4">
 <h2>US VISA Interview Questions</h2>
 <p align='justify'>For beginners, it is sometimes intimidating to apply for a US visitor visa. Listening to the "denied" stories of your friends, family or any other sources can also increase your concerns and make you nervous. You thought: "If they have been denied a US visa, what are my chances of getting a US visa?"

ALl the applicants need to be confident enough of their application

When you continue to think that they will deny your visa, it will manifest during your US visa interview. You will be nervous, your voice will crack, and the consular officer may feel that you are hiding something. That is a first step towards getting visa denied.

To help you prepare for your US visa application, here are some basic questions during an interview for a US visitor/tourist visa. Always remember, NEVER LIE. They already did a background check when you submitted their visa application online. </p>
 <p><a class="btn btn-default" href="/pages/blogs/USVisaInterview" role="button">View details &raquo;</a></
p>
 </div>
 <div class="col-md-4">
 <h2>E-VISA Advantages</h2>
 <p align='justify'>Like we say, “Money saved is money earned” likewise we say, “Time saved is time earned”. In today’s day to day life, every minute counts. Thanks to the internet. Ever Since technology has gifted us with the internet, our day to day activities have become a much easier task to accomplish. These are the very few things among the thousands of services which we get through the internet. But there are also few things for which we have to move out of our offices/homes like if want to get our vehicle serviced, one can get the appointment through internet but he will have to take the vehicle to the service center as the vehicle cannot be repaired remotely by an engineer sitting at the garage and the vehicle being at your parking. Getting Visa was one such similar thing but now its a story of the past. E Visas are not easily gettable if proper guidelines are followed and proper experts are contacted </p>
 <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></
p>
 </div>

 <div class="col-md-4">
 <div id="logreg-forms">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Log in</h1>
            
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            
            <button class="btn btn btn-block" align="center" type="submit"><i class="fas fa-sign-in-alt"></i><a href="/pages/mainsearch"> Sign in  (Already a member?)</a></button>
            <p style="text-align:center"> OR  </p>
            <div class="social-login">
                <button class="btn facebook-btn social-btn btn-block" type="submit"><i class="fab fa-facebook-f" style="color:white"></i> Sign in with Facebook</button>
            </div>

            <p style="text-align:center"> OR  </p>
            <button class="btn btn-success btn-block" align="center" type="submit" id="btn-guest"><i class="fas fa-sign-in-alt"></i> Sign in as GUEST USER</button>

            <a href="#" id="forgot_pswd">Forgot password?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
        </form>

        <form action="/reset/password/" class="form-reset">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Reset Password</h1>
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>

        <form action="/signin/guest" class="form-guest">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Guest User Log in</h1>
            <input class="form-control" type="text" id="guestuser-firstname" placeholder="First name" required="" autofocus="">
            <input class="form-control" type="text" id="guestuser-lastname" placeholder="Last name" required="" autofocus="">
            <select name="country">
                <option value="USA">USA</option>
                <option value="Nepal">Nepal</option>
                <option value="Canada">Canada</option>

            </select>
            
            <a href="#" id="cancel_guest"><i class="fas fa-angle-left"></i> Back</a>
        </form>
            
        <form action="/signup/" class="form-signup">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
                                
            <p style="text-align:center">OR</p>
                <!--
                <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
                <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
                <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
                <input type="password" id="user-repeatpass" class="form-control" placeholder="Confirm Password" required autofocus="">-->

                

            <input class="form-control" id="user-firstname" type="text" name="First Name" placeholder="First name" required="">
          	<input class="form-control" id="user-lastname" type="text" name="Last name" placeholder="Last name" required="">
          	<input class="form-control" id="user-name" type="text" name="Username" placeholder="Username" required="">
          	<input class="form-control" id="user-email" type="email" name="email" placeholder="Email" required="">
          	<input class="form-control" id="user-pass" type="password" name="password" placeholder="Password" required="">
          	<input class="form-control" id="user-repeatpass" type="password" name="password" placeholder="Confirm Password" required="">
          <!--Need to associate in order to link another table and create drop-down list--->
         	<input class="form-control" id="user-nationality" type="text" name="nationality" placeholder="Nationality" required="">



          	<button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>



        </form>
            <br>
            
    </div>
    <p style="text-align:center">
        <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle() // display:block or none
    $('#logreg-forms .form-reset').toggle() // display:block or none
}

function toggleSignUp(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle(); // display:block or none
    $('#logreg-forms .form-signup').toggle(); // display:block or none
}

$(()=>{
    // Login Register Form
    $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
    $('#logreg-forms #cancel_reset').click(toggleResetPswd);
    $('#logreg-forms #btn-signup').click(toggleSignUp);
    $('#logreg-forms #cancel_signup').click(toggleSignUp);
})g" target="_blank" style="color:black"></a>
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
 </div>
 <!--<div class="col-md-4">
 <h2>Heading</h2>
 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac c
ursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risu
s. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
 <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></
p>
 </div>
 <div class="col-md-4">
 <h2>Heading</h2>
 <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget q
uam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
 commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p
>
 <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></
p>
 </div>-->
 </div>
 <hr>
 <footer>
 <p>Sitemap</p>
 </footer>
</div> 