<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav
barSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ari
a-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
 <li class="nav-item active">
 <a class="nav-link navbar-dark" href="/">Home <span class="sr-only">(current)</sp
an></a>
 </li>
<li class="nav-item">
 		<a class="nav-link navbar-dark" href="/pages/test">Blogs</a>
 	</li>
 	<li class="nav-item">
 		<a class="nav-link navbar-dark" href="/pages/aboutus">About Us</a>
	</li>

 <li class="nav-item dropdown">
 		<a class="nav-link dropdown-toggle navbar-dark" href="#" id="navbarDropdown" role ="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 		FAQs
 		</a>
 		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
 			<a class="dropdown-item" href="/pages/faqTypesOfVisa">Types of VISA</a>
			<a class="dropdown-item" href="/pages/faqSchengenVisa">Schengen Visa</a>
			<!-- <div class="dropdown-divider"></div>
 				<a class="dropdown-item" href="https://www.gatech.edu">Georgia Tech</a>
 			</div> -->
 	</li>
</ul>
<% if signed_in? %>
      Signed in as: <%= current_user.username %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
      
    <% end %>
</div>
</nav>





  	

 	





